<div> <!--  style="background-color:#f0f0f0" -->
  <div class="site-title">Elden Ring Playground: Explore</div>
  <div class="search-bar">
    <span>SEARCH</span>
    <input class="search-input" type="text" [(ngModel)]="searchText" (change)="onNewSearchText()" />
  </div>
  <img class="decorative-break" src="assets/images/elden-ring-border-leaf.png">
  <div *ngIf="!isInitialized">
  </div>
  <div *ngIf="isInitialized">
    <div class="section-title">"{{searchTextLowerCase}}"</div>
    <div *ngFor="let r of searchResults" class="search-result-container">
      <div class="search-result-header">
        <div class="search-result-icon-container">
          <span class="navsprite" [class]="r.type" [title]="r.type"></span>
        </div>
        <div class="search-result-title-banner">
          <div class="search-result-title" [innerHTML]="r.name | boldSpan:searchTextLowerCase"></div>
          <div class="search-result-subtitle" [innerHTML]="r.info | boldSpan:searchTextLowerCase" *ngIf="r.info"></div>
        </div>
      </div>
      <div class="search-result-body">
        <div [innerHTML]="r.caption | boldSpan:searchTextLowerCase" *ngIf="r.caption"></div>
      </div>
    </div>
  </div>
</div>
